@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap");

/* font-family: "Judson", serif; */

.container2 {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.col-8 {
  width: calc(8.33% * 8);
  padding: 0 15px;
}
.col-6 {
  width: calc(8.33% * 6);
  padding: 0 15px;
}
.col-4 {
  width: calc(8.33% * 4);
  padding: 0 15px;
}
/* =========== about-sec ============= */

.about-sec {
  background: var(--color-bg);
}
.about-hdr {
  text-align-last: center;
  padding: 44px 0;
  font-size: 64px;
  font-weight: 700;
  color: var(--white);
  text-transform: capitalize;
  font-family: "Judson", serif;
}

.who-we-sec {
  padding: 55px 0;
}
/* =============== */
/* who-we-are-section */
/* ======================= */


.who-title {
  font-family: "Judson", serif;
  font-size: 48px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--darkblue);
  margin-bottom: 30px;
}
.para {
  font-size: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0, 40%);
}
.who-img {
  max-width: 591px;
}

.who-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ============= */
/* we-do-section */
/* ================== */
.wht-we-do-sec {
  padding: 55px 0;
}
.we-do-img {
  max-width: 591px;
}
.we-do-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.we-do-title {
  font-family: "Judson", serif;
  font-size: 48px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--darkblue);
  margin-bottom: 30px;
}
.wht-we-do-sec .para {
  margin-bottom: 30px;
}
.wht-we-do-sec ul {
  padding-left: 20px;
}
.wht-we-do-sec ul li {
  font-size: 18px;
  font-weight: 700;
  color: rgb(0, 0, 0, 60%);
  margin-bottom: 10px;
  line-height: 1.6;
}
.why-choose-sec {
  padding: 55px 0;
  background: var(--dark_blue);
}
.why-choose-title {
  font-family: "Judson", serif;
  font-size: 48px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--white);
  margin-bottom: 30px;
}
.why-choose-sec ul li {
  font-size: 18px;
  font-weight: 700;
  color: var(--white);
  margin-bottom: 10px;
  line-height: 1.6;
}

.view-more-btn {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--white);
  margin-top: 40px;
}
.view-more-btn:hover {
  color: var(--orange);
}
.why-choose-img {
  max-width: 799px;
}
.why-choose-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mission-vision-sec {
  padding: 55px 0;
}
.card {
  max-width: 931px;
  display: flex;
  align-items: flex-start;
  padding: 41px 57px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-top: 3px solid #050a39;
}
.icon {
  margin-right: 40px;
}
.content > h2 {
  font-size: 48px;
  font-weight: 400;
  font-family: "Judson", serif;
  color: var(--darkblue);
  text-transform: capitalize;
  margin-bottom: 30px;
}
.content > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: rgb(0, 0, 0, 40%);
}
.mission {
  margin-bottom: 55px;
}
.vision {
  margin-left: 200px;
  background: var(--orange);
}
.join-sec {
  padding: 55px 0;
  background:
    linear-gradient(rgba(245, 140, 40, 0.85), rgba(245, 140, 40, 0.85)),
    url("../asset/aboutus/join.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.join-content > h2 {
  font-size: 48px;
  font-weight: 400;
  font-family: "Judson", serif;
  color: var(--white);
  text-transform: capitalize;
  margin-bottom: 30px;
}
.join-content > p {
  max-width: 742px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 742px;
  height: 59px;
  border: 1px solid var(--white);
  border-radius: 20px;
  margin: 0 auto;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--white);
  transition: 0.3s all ease-in;
}
.btn:hover {
  background: var(--white);
  box-shadow: 0 4px 8px 4px rgba(20, 19, 19, 0.101);
  color: var(--orange);
}
@media screen and (max-width: 1200px) {
  .who-we-sec .col-6 {
    width: 100%;
  }
  .who-we-sec .row {
    flex-wrap: wrap-reverse;
  }
  .who-img {
    margin: 0 auto;
  }
  .who-title {
    text-align: center;
  }
  .wht-we-do-sec .col-6 {
    width: 100%;
  }
  .we-do-img {
    margin: 0 auto;
  }
  .we-do-title {
    text-align: center;
  }
  .wht-we-do-sec .para {
    text-align: center;
  }
  .wht-we-do-sec ul {
    margin: 0 auto;
  }
  .why-choose-sec .col-8 {
    width: 100%;
  }
  .why-choose-sec .row {
    flex-wrap: wrap-reverse;
  }
  .why-choose-img {
    margin: 0 auto;
  }
}
@media screen and (max-width: 992px) {
  .card {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 600px;
  }
  .content > h2 {
    font-size: 32px;
  }
  .btn {
    width: 500px;
  }
  .about-hdr{
    font-size: 42px;
  }
}
@media screen and (max-width: 768px) {
  .who-title {
    font-size: 32px;
    margin-top: 20px;
  }
  .para {
    font-size: 15px;
  }
  .we-do-title {
    font-size: 32px;
    margin-top: 20px;
  }
  .wht-we-do-sec ul li {
    font-size: 13px;
  }
  .wht-we-do-sec .para {
    font-size: 15px;
  }
  .join-content > h2 {
    font-size: 32px;
  }
  .card {
    max-width: 400px;
  }
}
@media screen and (max-width: 576px) {
  .wht-we-do-sec {
    padding: 40px 0;
  }
  .btn {
    width: 320px;
  }
  .about-hdr{
    font-size: 32px;
  }
}
