* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

:root {
    --orange: #F08526;
    --dark_blue: #0B125A;
    --white: #FFFFFF;
    --purple: #EDE1F3;
}

html,
body {
    font-family: "Poppins", sans-serif;

    overflow-x: hidden;


}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    max-width: 1820px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.container2 {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}



.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
    align-items: stretch;

}

.col {
    padding: 0 15px;
    display: flex;
}

.col-50 {
    width: 50%;
}

.col-33 {
    width: 33.33%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-20 {
    width: 20%;
}

/* SECTION-PADDING */
.section-padding {
    padding: 50px 0;
}



.accordian-sec {
    background-color: #0B125A;
}

.accordian-row {
    align-items: stretch;
}

.accordian-img {
    width: 338x;
    border-radius: 30px;
    overflow: hidden;
}


.accordion-wrapper {
    min-height: 100%;

}

.accordion-item {

    overflow: hidden;
}

.accordion-header {
    padding: 16px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    font-family: var(--ff-dm-sans);
    display: flex;

    align-items: center;
}

.accordion-body {
    font-family: var(--ff-dm-sans);
    max-height: 0;
    overflow: hidden;
    background: var(--clr-primary-100);
    color: white;
    font-size:16px;
    /* padding: 0 20px; */
    transition: all 0.4s ease;
}

.accordion-item.active .accordion-body {
    max-height: 120px;
    padding: 14px 24px;
}

.icon {
    font-size: 30px;
    color: white;
    border: 2ps solid white;
    border-radius: 50px;
    margin-right: 20px;
}