@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Poppins", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');


/*   font-family: "Judson", serif; */




.clientsignin-container {
  max-width: 1320px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;

}


/*==========================
CLIENT SECTION
============================
*/
.client-section {
  padding: 40px 0;
}

.client-cntn {

  max-width: 1025px;
  border-radius: 20px;
  margin: 0 auto;
  overflow: hidden;
  background: var(--orange);
  box-shadow: 3px -3px 8px 0 rgba(0, 0, 0, 0.2), -3px 3px 8px 0 rgba(0, 0, 0, 0.2);
}

.client-space {
  background-image: url('../asset/clientsignin/sign-in-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 6%;
}

.client-logo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 24px;
  left: 24px;
  z-index: 2;

}

.client-deal {

  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.client-form-wrapper {
  background: var(--white);
  padding: 50px 45px;
  border-radius: 0 20px 20px 0;
  height: 100%;
}

.client-form-wrapper h2 {
  font-family: "Judson", serif;
  font-size: 24px;
  color: var(--dark_blue);
  text-align: center;
  border-bottom: 1px solid var(--dark_blue);
  width: fit-content;
  margin: 0 auto;
}

.sub-text {
  font-family: "Judson", serif;
  font-size: 16px;
  text-align: center;
  color: #777;
  margin-bottom: 25px;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 6px;
  color: var(--dark_blue);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  height: 44px;
  border-radius: 22px;
  border: none;
  background: var(--purple);
  padding: 0 15px;
  margin-bottom: 15px;
}

.forgot {
  text-align: right;
  margin-bottom: 15px;
}

.forgot a {
  font-size: 12px;
  color: var(--dark_blue);
}

.signup-text {
  font-size: 13px;
  text-align: center;
  margin-bottom: 15px;
}

.signup-text a {
  color: var(--dark_blue);
}

.or-line {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 20px 0;
}

.or-line::before,
.or-line::after {
  content: "";
  flex: 1;
  height: 1px;
  background: var(--dark_blue);
}

.or-line span {
  color: var(--dark_blue);
  font-size: 13px;
}


.social-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.social-btns button {
  flex: 1;
  padding: 8px;
  border-radius: 22px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.google-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark_blue);

}

.fb-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark_blue);
}

.remember {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 13px;
  margin-bottom: 18px;
}

.signin-btn {
  width: 100%;
  padding: 16px;
  border-radius: 30px;
  background: var(--dark_blue);
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  transition: 0.3s all ease;
}
.signin-btn:hover {
  background: var(--white);
  color: var(--dark_blue);
   border: 1px solid  var(--dark_blue);
}

.back-link {
  font-size: 12px;
  margin-top: 12px;
    transition: 0.3s all ease;
}

.back-link a {
 
  color: var(--dark_blue);
}
.back-link a:hover{
  color: var(--orange);
    transition: 0.5s all ease;
}

.forgot a,
.signup-text a,
.back-link a {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: var(--dark_blue);
  font-size: 12px;

}

.google-icon {
  margin-left: 10px;
}

.fb-icon {
  margin-left: 10px;
}

/*===========================
MEDIA QUERIES
=============================
*/
@media screen and (max-width: 992px) {
  .client-cntn {
    max-width: 100%;
  }

  .client-form-wrapper {
    padding: 40px 30px;
  }

  .client-space {
    padding: 8%;
  }
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .col-50 {
    width: 100%;
  }

  .client-space {
    min-height: 280px;
    justify-content: center;
  }

  .client-form-wrapper {
    border-radius: 0 0 22px 22px;
  }

  .client-logo {
    top: 16px;
    left: 16px;
  }
}

@media screen and (max-width: 576px) {
  .client-section {
    padding: 20px 0;
  }

  .client-space {
    min-height: 220px;
    padding: 20px 10px;
    align-items: center;
    justify-content: center;
  }

  .client-logo {
    width: 50px;
    height: 50px;
  }

  .client-deal img {
    width: 60%;
    height: auto;
    max-height: 180px;
    object-fit: contain;
  }

  .client-logo img {
    width: 55px;
  }

  .client-form-wrapper {
    padding: 30px 20px;
  }

  h2 {
    font-size: 22px;
  }

  .social-btns {
    flex-direction: column;
  }

  .social-btns button {
    width: 100%;
    height: 46px;
    padding: 0 18px;
    border-radius: 23px;
    font-size: 14px;
    line-height: 46px;
  }


  input[type="text"],
  input[type="password"] {
    height: 42px;
  }

  .signin-btn {
    height: 46px;
    font-size: 14px;
  }
}