@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap");

/* font-family: "Judson", serif; */

:root {
  --color-darkblue: #0b125a;
  --color-purple: #ede1f3;
  --color-white: #ffffff;
  --card-bg-color: #ffe8d2;
  --color-black: #000000;
  --color-grey: #f5f7f9;
  --color-orange: #f08526;
}


.container {
  max-width: 1850px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.min-container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-6 {
  width: calc(8.33% * 6);
  padding: 0 15px;
}

.title-1 {
  font-size: 48px;
  font-weight: 400;
  font-family: "Judson", serif;
  color: var(--color-white);
}

.title-2 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Judson", serif;
}

/* ==== TOPBAR ==== */
.topbar .container,
.navbar .container {
  max-width: 1820px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.topbar {
  background: #0b125a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.topbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-info,
.topbar-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.topbar-social {
  gap: 15px;
}

.topbar-info-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s all ease;
}

.topbar-info-link:hover {
  color: rgba(255, 255, 255, 0.9);
}

.topbar-social-link {
  transition: 0.3s all ease;
}

.topbar-social-link:hover {
  transform: scale(1.1);
}

/* ===== Navbar==== */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 9999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-radius: 9999px;

  /* Frost / base */
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(16px) saturate(140%);
  -webkit-backdrop-filter: blur(16px) saturate(140%);

  /* Depth */
  border: 1px solid rgba(255, 255, 255, 0.14);
}

.navlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  z-index: 999;
}

.navlink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #0b125a;
  transition: 0.3s ease;
  position: relative;
}

.navlink svg path {
  transition: 0.3s ease;
}

.navlink::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 0%;
  background: #fff;
  top: 100%;
  transition: 0.3s ease;
}

.navlink:hover {
  color: #fff;
}

.navlink:hover::before {
  width: 100%;
}

.navlink:hover svg path {
  stroke: #fff;
}

.navbar-action-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 16px 32px;
  border-radius: 30px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.btn-primary {
  background: #ede1f3;
  color: #0b125a;
}

.btn-primary:hover {
  color: #0b125a;
  border-color: currentColor;
}

/* ==== sign in dropdown ==== */

.navbar-btns .sign-dropdown {
  position: relative;
}

/* Button */
.dropdown-btn {
  background: #e6e1f0;
  color: #1e1b4b;
  border: none;
  padding: 16px 32px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

/* Menu */
.dropdown-menu {
  position: absolute;
  top: 110px;
  right: 160px;
  background: #0b1b6f;
  border-radius: 16px;
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.25s ease;
}

/* Show dropdown */
.sign-dropdown:hover .dropdown-menu,
.sign-dropdown:focus-within .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Menu items */
.dropdown-menu li a {

  display: block;
  padding: 12px 20px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.dropdown-menu li a:hover {
  background: rgba(255, 255, 255, 0.12);
}


.btn-secondary {
  background: #0b125a;
  color: #ede1f3;
}

.btn-secondary:hover {
  color: #0b125a;
  background: #ede1f3;
  border-color: currentColor;
}

.menu-btn {
  display: none;
  font-size: 18px;
}


.nav-item {
  position: relative;
}

.nav-item .active {
 width: fit-content;
  border-bottom: 2px solid var(--color-darkblue);
}

.dropdown-navlist {
  right: 50%;
  transform: translateX(50%);
  top: 60px;
  position: absolute;
  background: #0B125A;
  padding: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;

  /* Hide Dropdown */
  opacity: 0;
  visibility: hidden;
  transform: translateX(50%) translateY((10px));
  transition: 0.3s ease;
  z-index: 9999;
}

/* show dropdown on hover */
.nav-item:hover .dropdown-navlist {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(50%) translateY((0));
}

/* for click toggle (mobile) */
.nav-item.active .dropdown-navlist {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(50%) translateY(0);
}

.dd-navitem:not(:last-child) {
  margin-bottom: 18px;
}

.dd-navitem {
  position: relative;
}

.dd-navitem::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* right: 0; */
  height: 10px;
  width: 10px;
  background: url('../asset/HOME_PAGE/navbar/arrow-cream-orange.svg') no-repeat center;
  padding-left: 25px;
}

.dd-navlink {
  font-size: 18px;
  font-family: "Judson", serif;
  letter-spacing: 0.05em;
  color: #FFE8D2;
  white-space: nowrap;
  transition: 0.3s all ease;
}

.dd-navlink:hover {
  color: #F08526;
}

.dropdown-navlist hr {
  border-top: 1px solid rgb(255, 255, 255, 0.3);
  margin-bottom: 16px;
}




/* ==== Banner Start ====*/




.banner-sec {
  background: linear-gradient(to right,
      rgba(250, 106, 10, 0.3) 33%,
      rgba(255, 255, 255, 0.1
      
      ) 100%),
    url("../asset/findworkfrelencer/hero.svg") center / cover no-repeat;
  min-height: 800px;
  padding-top: 165px;
  padding-bottom: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.banner .container {
  max-width: 1620px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}


.banner-wrpr .title-1 {
  font-family: "Judson", serif;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0.95px;
  color: #FFFFFF;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.banner-wrpr>p {
  font-size: 24px;
  font-weight: 400;
  color: var(--color-white);
  font-family: "Judson", serif;
}

.categorie-chosse {
  display: flex;
  margin-top: 100px;
}

.categorie {
  padding: 18px 44px 18px 10px;
  border: 1px solid var(--color-white);
  border-radius: 20px;
  color: var(--color-white);
  font-size: 24px;
  font-weight: 400;
  font-family: "Judson", serif;
}

.any {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
}

.any img {
  margin-left: 10px;
}


.srch-box {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 10px;
  padding: 10px;
  border: 1px solid var(--color-white);
  border-radius: 20px;
}

.srch-box input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  width: 100%;
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
}

.sort {

  margin-left: 10px;
  padding: 18px 44px 18px 10px;
  border: 1px solid var(--color-white);
  border-radius: 20px;
  font-family: "Judson", serif;
  font-size: 24px;
  font-weight: 400;
  color: var(--color-white);
}

.sort a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sort a img {
  margin-left: 10px;
}

.trending-sec {
  padding: 50px 0;
}

.card {
  max-width: 650px;
  /* height: 504px; */
  background: var(--card-bg-color);
  border-radius: 20px;
  padding: 20px;
  position: relative;
  margin-bottom: 20px;
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--color-darkblue);
  color: var(--color-white);
  padding: 3px 45px;
  border-radius: 0 20px 0 20px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Judson", serif;
}

.card .title-2 {
  color: var(--color-black);
  margin-bottom: 5px;
  text-transform: capitalize;
}

.meta {
  margin-bottom: 20px;
  color: rgb(0, 0, 0, 60%);
  text-transform: capitalize;
}

.info-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Judson", serif;
  margin-bottom: 20px;
}

.info-list>li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.label {
  width: 195px;
  font-size: 24px;
  font-weight: 700;
}

.colon {
  width: 6px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

.value {
  font-size: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0, 60%);
  margin-left: 10px;
}

.btns {
  display: flex;
}

.btns a {
  background: var(--color-grey);
  padding: 10px;
  border-radius: 30px;
  margin-right: 10px;
  margin-bottom: 20px;
  color: var(--color-black);
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 8px 20px rgba(0, 0, 0, 0.1);
}

.desc {
  font-size: 18px;
  font-weight: 400;
  color: rgb(0, 0, 0, 60%);
  margin-bottom: 20px;
}

.card-btn {
  display: flex;
  align-items: center;
}

.see-more {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 530px;
  height: 59px;

  /* padding: 16px 223px; */
  border-radius: 30px;
  border: 1px solid var(--color-orange);
  background: transparent;
  color: var(--color-orange);
  margin-left: 20px;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  transition: 0.3s all ease-in;
}

.see-more:hover {
  background: var(--color-white);
  box-shadow: 0 4px 8px 4px rgba(20, 19, 19, 0.101);
}

.footer-section {
  background: #0B125A;
  color: #fff;
  padding: 40px 0;
  font-size: 14px;
}

.footer-app {
  display: flex;
  justify-content: flex-start;
  gap: 10px;

}

.footer-app .app-icon img {
  width: 22px;
  height: 22px;
  transition: 0.5s all ease-in;
}

.footer-app .app-icon img:hover {
  transform: scale(1.1);
}

.footer-icon {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: 0.5s all ease-in;
  border-bottom: 1px solid transparent;
}

.footer-icon svg {
  margin-right: 10px;
  transition: 0.5s all ease-in;


}

.footer-icon a:hover svg {
  transform: scale(1.1);
}

.footer-icon a {

  display: flex;
  color: white;
  margin-top: 10px;

}

.footer-icon a span {
  font-size: 16px;
  transition: 0.5s all ease-in;
  border-bottom: 1px solid transparent;
}

.footer-icon a:hover span {

  color: #F08526;
  border-bottom: 1px solid #F08526;
}


.contact-icon {

  width: 15px;
  height: 15px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
}

.footer-col {
  flex: 1 1 180px;
}



.footer-col>p {
  font-size: 24px;
  font-weight: bold;
  font-family: var(--judson);
  margin-bottom: 12px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s all ease-in;
  border-bottom: 1px solid transparent;

}

.footer-col ul {

  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  font-size: 18px;
  color: #ddd;
  border-bottom: 1px solid transparent;
  transition: 0.5s all ease-in;
}

.footer-col ul li a:hover {
  color: #F08526;
  border-bottom: 1px solid #F08526;

}



.footer-brand .footer-logo {
  width: 120px;
  height: 120px;
  margin-bottom: 12px;
  object-fit: contain;
}

.footer-brand .contact {
  margin-bottom: 6px;
  color: #ddd;
}

.footer-brand .footer-social,
.footer-brand .footer-app {
  margin-top: 10px;

}

.footer-brand .footer-social span,
.footer-brand .footer-app span {
  font-size: 18px;
  margin-right: 8px;
  color: #ccc;
}

.footer-social .social-icon {
  transition: .5s all ease-in;
}

.footer-social .social-icon:hover {
  transform: scale(1.1);
}

.social-icon {
  margin-right: 8px;
  color: #fff;
  font-weight: bold;
}


.footer-bottom {
  border-top: 1px solid #2943a1;
  margin-top: 30px;
  padding-top: 14px;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  align-items: center;
  color: #ccc;
}

.footer-bottom a {
  font-size: 18px;
  color: #ccc;
  text-decoration: none;
  margin-right: 14px;
  transition: 0.5s all ease-in;
  border-bottom: 1px solid transparent;
}

.footer-bottom a:hover {
  color: #F08526;
  border-bottom: 1px solid #F08526;
}

.lower-footer {
  text-align: center;
  margin-top: 10px;
}

.lower-footer a {
  font-size: 18px;
  color: #aaa;
  transition: 0.5s all ease-in;
  border-bottom: 1px solid transparent;
}

.lower-footer a:hover {
  color: #F08526;
  border-bottom: 1px solid #F08526;
}

/* ==== FOOTER END ==== */



@media screen and (max-width: 1440px) {
  .navlist {
    gap: 18px;
  }

  .navbar-action-btns {
    gap: 16px;
  }

  .btn {
    padding: 13px 30px;
  }
}

/* Large devices (laptops) */
@media (max-width: 1200px) {
  nav {
    gap: 10px;
  }

  .btn {
    padding: 8px 14px;
  }
}

/* Medium devices (tablets landscape) */
@media screen and (max-width: 1024px) {
  .topbar {
    padding: 18px 0;
  }

  .topbar-info {
    gap: 12px;
  }

  .topbar-social {
    gap: 6px;
  }

  .topbar-info-link {
    font-size: 12px;
  }

  .topbar-info-link figure,
  .topbar-social-link figure {
    max-width: 12px;
  }

  .navbar {
    padding: 16px 0;
  }

  nav {
    padding: 8px 10px;
    position: relative;
  }

  .navbar-brand {
    max-width: 70px;
  }

  .navlink {
    color: #ffe8d2;
  }

  .navlink svg path {
    stroke: #ffe8d2;
  }

  .navbar-menu {
    /* display: none; */
    position: absolute;
    top: 110%;
    transform: translateX(-50%);
    /* Frost / base */
    background: rgba(11, 18, 90, 1);
    backdrop-filter: blur(16px) saturate(140%);
    -webkit-backdrop-filter: blur(16px) saturate(140%);
    /* Depth */
    border: 1px solid rgba(255, 255, 255, 0.14);
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 0;
    border-radius: 50px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 999;
  }

  .navbar-menu.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0);
    z-index: 999;
  }

  .navlist {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .navbar-action-btns {
    gap: 12px;
  }

  .btn {
    padding: 8px 14px;
    font-size: 16px;
  }

  .menu-btn {
    font-size: 35px;
    display: block;
    color: #ede1f3;
  }

  /* sign in dropdown */

  .dropdown-menu {
    top: 75px;
    right: 130px;

  }

  .dropdown-menu li a {
    padding: 10px 12px;
    font-size: 16px;
  }
}

/* Tablets */
@media (max-width: 992px) {}

/* Small tablets / large phones */
@media screen and (max-width: 768px) {
  .topbar-wrapper {
    justify-content: center;
  }

  .topbar-rgt {
    display: none;
  }
}

/* Mobile devices */
@media (max-width: 576px) {
  nav {
    padding: 4px 8px 4px 4px;
  }

  .navbar-brand {
    max-width: 55px;
  }

  .btn {
    padding: 8px 12px;
    font-size: 12px;
  }

  .menu-btn {
    font-size: 30px;
  }

  .navlink {
    font-size: 12px;
  }

  .navbar-menu {
    border-radius: 30px;
  }

  /* sign in dropdown */

  .dropdown-menu {
    top: 60px;
    right: 100px;

  }

  .dropdown-menu li a {
    font-size: 14px;
  }

  .banner {
    padding-top: 120px;
    padding-bottom: 80px;
    min-height: 600px;
  }

  .banner .container {
    padding: 0 15px;
  }

  .banner-content {
    margin-bottom: 60px;
  }

  h1 {
    font-size: 50px;
    text-align: center;
  }

  .hero-search {
    padding: 18px;
  }

  .tab-btn {
    padding: 10px 15px;
    font-size: 15px;
  }

  .search-subtitle {
    font-size: 14px;
  }

  .search-bar {
    height: 44px;
    padding: 10px 8px 10px;
  }

  .search-btn {
    width: 35px;
    height: 35px;
  }

  .search-bar input::placeholder {
    font-size: 15px;
  }
}

/* Small mobile devices */
@media (max-width: 480px) {
  .topbar {
    display: none;
  }

  .navbar-action-btns {
    gap: 8px;
  }
}

/* Extra small devices */
@media (max-width: 375px) {

  /* sign in dropdown */
  .dropdown-menu {
    top: 60px;
    right: 110px;
  }

  .dropdown-menu li a {
    font-size: 10px;
  }

  h1 {
    font-size: 30px;
  }

  .banner {
    min-height: 400px;
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .banner-content {
    margin-block: 40px;
  }

  .hero-search {
    padding: 12px;
  }

  .tab-btn {
    padding: 10px 12px;
    font-size: 11px;
  }

  .search-subtitle {
    font-size: 11px;
  }

  .search-bar {
    /* height: 40px; */
    padding: 8px 10px;
  }

  .search-bar input {
    font-size: 11px;
  }

  .search-bar input::placeholder {
    font-size: 11px;
  }

  .search-bar input {
    padding: 0px 10px;
  }
}

/* Very small phones */
@media (max-width: 320px) {}





@media screen and (max-width: 1200px) {
  .navbar-collapsed {
    display: none;
  }

  .top-hdr .left-links {
    font-size: 10px;
  }

  .trending-sec .col-6 {
    width: 100%;
  }

  .card {
    margin: 0 auto;
    margin-bottom: 20px;
  }
}