@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Poppins", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');


/*   font-family: "Judson", serif; */




.freeliance-signup-container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 15px;

}

.auth-box {
 
}

/* MAIN BOX */
.auth-box {
  background: #ff8c1a;
  border-radius: 20px;
  overflow: hidden;
   box-shadow: 3px -3px 8px 0 rgba(0, 0, 0, 0.2), -3px 3px 8px 0 rgba(0, 0, 0, 0.2);
}

/* LEFT */
.left-panel {
  padding: 30px;
}

.left-panel .logo-img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.illustration {
  width: 100%;
  max-width: 360px;
}

/* RIGHT */
.right-panel {
  background: #fff;
  padding: 30px;
  border-radius: 18px;
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 25px;
  /* border-bottom: 2px solid black; */
  font-family: "Judson", serif;


}

.title:after {
  content: "";
  width: 40%;
  height: 1px;
  background: black;
  display: block;
  margin: 0 auto;
}

/* FORM */
label {
  font-size: 16px;
  margin-top: 12px;
  display: block;
}

input,
select {
  width: 100%;
  padding: 8px 10px;
  border-radius: 30px;
  border: 1px solid #ddd;
  background: #f5eafb;
}

input.error,
select.error {
  border-color: red;
}

/* DOB */
.dob {
  display: flex;
}

.dob select {
  margin-right: 8px;
}

/* PASSWORD */
.password-box {
  position: relative;
}

.password-box i {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* OR */
.or-line {
  text-align: center;
  position: relative;
  margin: 20px 0;
}

.or-line:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  background: #ccc;
}

.or-line span {
  background: #fff;
  padding: 0 12px;
  position: relative;
}

/* SOCIAL */
.social {

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 25px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  gap: 10px;
}

.social img {

  /* border: 2px solid red; */
  height: 25px;
  width: 25px;
  /* padding: 20px; */
  border-radius: 50px;

}

.google img,
.facebook img {
  background-color: white;


}

.google ,.facebook {
  background: #0a2a6b;
 
}
.social a span{
  font-size: 14px;
}


/* CHECKBOX */
.checkbox {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin: 12px 0;
}

.checkbox input {
  display: none;
}

.checkbox span {
  width: 16px;
  height: 16px;
  border: 1px solid #aaa;
  margin-right: 8px;
}

.checkbox input:checked+span {
  background: #ff8c1a;
}

/* BUTTON */
.register-btn {
  display: block;
  width: 100%;
  font-size: 18px;
  text-align: center;
  background: #0a2a6b;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: 0.3s all ease-in-out;

}

.register-btn:hover {
  border: 1px solid #0a2a6b;
  color: #0a2a6b;
  background: white;
}

/* TEXT */
.signin {
  text-align: center;
  margin-top: 10px;
}

.signin a {
  text-decoration: underline;
}

.form-footer {
  margin-top: 10px;
}

.back-link {
  color: #0a2a6b;
  text-decoration: underline;
}

.privacy {
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
}

.privacy a {
  color: #ff8c1a;
}

.privacy a:hover {
  text-decoration: underline;
}

/* RESPONSIVE */
@media(max-width:991px) {
 .auth-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

 }
  .col-lg-100 {
    width: 100%;
  }
  
.left-panel{
  display: none;
}


}

@media(max-width:480px) {
  .dob {
    flex-direction: column;
  }

  .dob select {
    margin-bottom: 8px;
  }
}

@media(max-width:360px) {
  .right-panel {
    padding: 20px 15px;
  }

  input,
  select {
    font-size: 13px;
  }

  .register-btn {
    padding: 10px;
  }
}