@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Poppins", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');


/*   font-family: "Judson", serif; */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

html,
body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;

}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
     display: block;
}

svg {
    display: block;
    pointer-events: none;
}

figure {
    display: inline-block;
    overflow: hidden;
}

button {
    border: none;
    outline: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}