* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #111;
}

/* Overlay */
.overlay {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Main Container */
.otp-container {
  position: relative;
  width: 720px;
  background: linear-gradient(180deg, #0b1a6a, #0a1f8f);
  border-radius: 20px;
  padding: 40px;
  text-align: center;
}

/* Heading */
h2 {
  color: #fff;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 30px;
  font-family: "Judson", serif;
  border-bottom: 1px solid white;
  display: inline-block;

}

/* White Card */
.card {
  background: #fff;
  border-radius: 15px;
  padding: 40px;
}

/* OTP Inputs */
.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 30px;
}

.otp-inputs input {
  width: 46px;
  height: 46px;
  border: 1px solid #aaa;
  border-radius: 6px;
  text-align: center;
  font-size: 22px;
  outline: none;
}

/* Verify Button */
.verify-btn {
  display: inline-block;
  padding: 16px 32px;
  background: #0b1a6a;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid transparent;
  transition: 0.5s all ease-in;
}

.verify-btn:hover {
  background: #fff;
  color: #0a1f8f;
  border: 1px solid #0a1f8f;
}

/* Resend OTP */
.resend {
  display: block;
  margin-top: 16px;
  color: #0b1a6a;
  text-decoration: underline;
  font-size: 14px;
  transition: 0.3s;

}

.resend:hover {
  color: #f08526;



}

/* Close Button */
.close-btn {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 36px;
  height: 36px;
  background: #fff;
  color: #000;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: 0.3s;
}

.close-btn:hover {
  background: #f08526;
  color: #fff;
}

/* Tablet */
@media (max-width: 768px) {
  .otp-container {
    width: 100%;
    padding: 30px 20px;
  }

  h2 {
    font-size: 16px;
  }

  .card {
    padding: 30px 20px;
  }

  .otp-inputs input {
    width: 42px;
    height: 42px;
    font-size: 18px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .otp-container {
    padding: 25px 15px;
    border-radius: 16px;
  }

  h2 {
    font-size: 14px;
    line-height: 1.5;
  }

  .otp-inputs {
    gap: 10px;
  }

  .otp-inputs input {
    width: 38px;
    height: 38px;
    font-size: 16px;
  }

  .verify-btn {
    width: 100%;
    padding: 12px 0;
  }

  .close-btn {
    width: 30px;
    height: 30px;
    font-size: 14px;
  }
}