.container {
  max-width: 1820px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.container2 {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}






.section-padding {
  padding: 50px 0;
}


/*  ==== TOPBAR ==== */
.topbar {
  background: #0b125a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.topbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-info,
.topbar-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.topbar-social {
  gap: 15px;
}

.topbar-info-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s all ease;
}

.topbar-info-link:hover {
  color: rgba(255, 255, 255, 0.9);
}

.topbar-social-link {
  transition: 0.3s all ease;
}

.topbar-social-link:hover {
  transform: scale(1.1);
}

/* ===== Navbar==== */
.navbar {
  background-color: #F08526;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* padding: 20px 0; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 15px;
}

.navlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.navbar-menu .navlist .active {
  width: fit-content;
  /* text-decoration: underline; */

}

.navlink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #0b125a;
  transition: 0.3s ease;
  position: relative;
}

.navlink svg path {
  transition: 0.3s ease;
}

.navlink::before {
  position: absolute;
  content: '';
  height: 2px;
  width: 0%;
  background: #fff;
  top: 100%;
  transition: 0.3s ease;
}

.navlink:hover {
  color: #fff;
}

.navlink:hover::before {
  width: 100%;
}

.navlink:hover svg path {
  stroke: #fff;
}

.navbar-action-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 16px 32px;
  border-radius: 30px;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.btn-primary {
  background: #ede1f3;
  color: #0b125a;
}

.btn-primary:hover {
  color: #0b125a;
  border-color: currentColor;
}

/* ==== sign in dropdown ==== */

.navbar-btns .sign-dropdown {
  position: relative;

}

/* Button */
.dropdown-btn {
  background: #e6e1f0;
  color: #1e1b4b;
  border: none;
  padding: 16px 32px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

/* Menu */
.dropdown-menu {
  position: absolute;
  top: 190px;
  right: 200px;
  background: #0b1b6f;
  border-radius: 16px;
  padding: 10px 0px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.25s ease;
}

/* Show dropdown */
.sign-dropdown:hover .dropdown-menu,
.sign-dropdown:focus-within .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Menu items */
.dropdown-menu li a {
  display: block;
  padding: 12px 20px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}

.dropdown-menu li a:hover {
  background: rgba(255, 255, 255, 0.12);
}


.btn-secondary {
  background: #0b125a;
  color: #ede1f3;
}

.btn-secondary:hover {
  color: #0b125a;
  background: #ede1f3;
  border-color: currentColor;
}

.menu-btn {
  display: none;
  font-size: 18px;
}

.nav-item {
  position: relative;
}

.dropdown-navlist {
  right: 50%;
  transform: translateX(50%);
  top: 60px;
  position: absolute;
  background: #0B125A;
  padding: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;

  /* Hide Dropdown */
  opacity: 0;
  visibility: hidden;
  transform: translateX(50%) translateY((10px));
  transition: 0.3s ease;
  z-index: 9999;
}

/* show dropdown on hover */
.nav-item:hover .dropdown-navlist {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(50%) translateY((0));
}

/* for click toggle (mobile) */
.nav-item.active .dropdown-navlist {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(50%) translateY(0);
}

.dd-navitem:not(:last-child) {
  margin-bottom: 18px;
}

.dd-navitem {
  position: relative;
}

.dd-navitem::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* right: 0; */
  height: 10px;
  width: 10px;
  background: url('../asset/HOME_PAGE/navbar/arrow-cream-orange.svg') no-repeat center;
  padding-left: 25px;
}

.dd-navlink {
  font-size: 18px;
  font-family: "Judson", serif;
  letter-spacing: 0.05em;
  color: #FFE8D2;
  white-space: nowrap;
  transition: 0.3s all ease;
}

.dd-navlink:hover {
  color: #F08526;
}

.dropdown-navlist hr {
  border-top: 1px solid rgb(255, 255, 255, 0.3);
  margin-bottom: 16px;
}


/* ==== topbar end ==== */









/* ===== LAYOUT ===== */
.job-header {
  padding: 35px 0;
}



/* ===== TITLE ===== */
h2 {
  width: 100%;
  font-size: 48px;
  font-weight: 400;
  color: #0B125A;
  margin-bottom: 64px;
  text-align: center;
  letter-spacing: 0.05em;
  border-bottom: 1px solid black;
  font-family: "Judson", serif;

}



/* ===== POSTED TEXT ===== */
.posted-text {
  font-size: 16px;
  color: #000000;
  opacity: 60%;
  margin-bottom: 18px;

}

/* ===== INFO LIST ===== */
.info-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.info-row {
  display: flex;
  justify-content: left;
  gap: 6px;
  font-size: 13px;
}

.label {
  font-weight: 600;
  min-width: 140px;
  color: #000000;
  font-size: 24px;

}



.value {
  color: #374151;
  font-size: 18px;
}

/* ===== SKILLS ===== */
.skills {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skill-btn {
  display: inline-block;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 20px;
  font-size: 16px;
  color: #000000;
  box-shadow: 3px -3px 8px rgba(0, 0, 0, 0.2), -3px 3px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: all .3s ease;
}

.skill-btn:hover {
  transform: translateY(-3px);

}

.wrapper {
  width: 100%;
  max-width: 1320px;
  margin: 20px auto;
}

/* BOX */
.job-box {
  background: #f8f9fb;
  border: 1px solid #e3e6ea;
  border-radius: 12px;
  padding: 20px 24px;
}

.job-box h4 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 6px;
  color: #555;

}

.job-box p,
.job-box li {
  font-size: 18px;
  line-height: 1.6;
}

.job-box ul {
  padding-left: 18px;
  margin-top: 6px;
}

.orange li {
  color: #f58220;
}

.who {
  margin-top: 20px;
}

/* ACTIVITY */
.activity {
  margin-top: 24px;
}

.activity h3 {
  color: #0b125a;
  font-size: 36px;
  letter-spacing: 0.05em;
  margin-bottom: 8px;
  font-family: "Judson", serif;
}

.activity p {
  font-size: 18px;
  color: #000;
}

.activity strong {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-family: "Judson", serif;
}

/* CLIENT */
.client {
  margin-top: 26px;
  font-size: 18px;
}

.client h3 {
  color: #0b125a;
  font-size: 36px;
  margin-bottom: 6px;
  letter-spacing: 0.05em;
  font-family: "Judson", serif;
}

.client p {
  font-size: 18px;
  margin-bottom: 6px;
}

.line {
  line-height: 1.7;
  font-size: 18px;
  color: #000;
  opacity: 60%;
}

.line strong {
  font-size: 18px;
  color: #000;
  opacity: 100%;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-family: "Judson", serif;
}

/* RATING */
.rating-row {
  display: flex;
  align-items: center;
  font-size: 13px;
  margin-top: 6px;
  color: #333;
}

.rating-label {
  margin-right: 6px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-family: "Judson", serif;

}

.rating-circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #bfbfbf;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  margin-right: 6px;
  background: #fff;
}

.rating-stars i {
  font-size: 14px;
  margin-right: 2px;
}

.rating-stars .fa-solid {
  color: #f58220;
}

.rating-stars .fa-regular {
  color: #777;
}



.similar-jobs {
  width: 92%;
  max-width: 1100px;
  margin: 40px auto;
}

.section-title {
  font-size: 18px;
  font-weight: 500;
  color: #0b125a;
  margin-bottom: 18px;
}

/* ORANGE BANNER */
.banner {
  background: #e98b2a url('../asset/particular-job-details/freeliance_project.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 50px;
  color: #fff;
}

.banner p {
  font-size: 36px;
  margin-bottom: 36px;
  font-family: "Judson", serif;
}

.blue-text {
  color: #0b125a;
}

.start-btn {
  font-size: 18px;
  font-weight: 400;
  padding: 10px 28px;
  border: 2px solid #fff;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  transition: .3s all ease-in;
}

.start-btn:hover {
  background: #fff;
  color: #e98b2a;
  box-shadow: 3px -3px 8px rgba(0, 0, 0, 0.2), -3px 3px 8px rgba(0, 0, 0, 0.2);

}

/* JOB SECTION */
.jobs {
  background: #fafafa;
  padding: 40px 0;
}

.title {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: "Judson", serif;
}

.title span {
  color: #f08526;
}

/* ROW COL */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col {
  width: 50%;
  padding: 0 15px;
}

/* CARD */
.job-card {
  background: #fde8d4;
  padding: 20px;
  border-radius: 20px;
  transition: .3s;
}

.job-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .15);
}

.job-card h4 {
  font-size: 24px;
  font-family: "Judson", serif;
  font-weight: 700;
  margin-bottom: 6px;
}

.job-card h4 span {
  display: block;
}

.posted {
  font-size: 16px;
  margin-bottom: 20px;
}

.info {
  list-style: none;
  font-size: 18px;
  margin-bottom: 12px;
}

.info b {
  font-size: 24px;
  font-family: "Judson", serif;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.info li {
  margin-bottom: 5px;
}

/* TAGS */
.tags {
  margin-bottom: 20px;

}

.tags a {
  display: inline-block;
  background: #fff;
  padding: 10px;
  border-radius: 20px;
  font-size: 12px;
  margin: 4px 4px 0 0;
  text-decoration: none;
  color: #333;
  box-shadow: 3px -3px 8px rgba(0, 0, 0, 0.2), -3px 3px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}


.tags a:hover {
  transform: translateY(-3px);
}

/* DESCRIPTION */
.desc {
  font-size: 18px;
  margin-bottom: 20px;
}

/* SEE MORE */
.see-more {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #f08526;
  text-decoration: none;

}

.see-more img {
  width: 100%;
  height: 100%;
}

.see-more span {
  width: 80%;
  padding: 16px;
  border-radius: 30px;
  border: 1px solid #f08526;
  transition: .3s all ease-in;
}

.see-more:hover span {
  background: #fff;
  box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.2), -2px 2px 2px rgba(0, 0, 0, 0.2);

}

/* VIEW MORE BOTTOM */
.view-more-wrapper {
  text-align: right;
  margin-top: 20px;
}

.view-more {
  font-size: 18px;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 30px;
  text-decoration: none;
  color: #f08526;
  border: 1px solid #f08526;
  transition: .3s;
}

.view-more:hover {
  background: #fcf3ec;

}

.interest-section {
  background: #EDE1F3;
  padding: 40px 15px;
  text-align: center;
}

.interest-section h3 {
  font-size: 36px;
  font-family: "Judson", serif;
  letter-spacing: 0.02em;
  color: #0b125a;
  margin-bottom: 20px;
}

/* BUTTON WRAPPER */


/* BUTTON STYLE */
.interest-buttons a {
  display: inline-block;
  padding: 10px;
  margin: 6px 6px;
  border: 1px solid rgb(194, 189, 189);
  border-radius: 30px;
  background: #fff;
  font-size: 16px;
  box-shadow: 3px -3px 8px rgba(0, 0, 0, 0.2), -3px 3px 8px rgba(0, 0, 0, 0.2);

  color: #000000;
  text-decoration: none;
  transition: 0.3s ease;
}

/* HOVER EFFECT */
.interest-buttons a:hover {
  transform: translateY(-3px);
}





/*      =========== FOOTER ==========      */


.footer-section {
  background: #0B125A;
  color: #fff;
  padding: 40px 0;
  font-size: 14px;
}

.footer-app {
  display: flex;
  justify-content: flex-start;
  gap: 10px;

}

.footer-app .app-icon img {
  width: 22px;
  height: 22px;
  transition: 0.5s all ease-in;
}

.footer-app .app-icon img:hover {
  transform: scale(1.1);
}

.footer-icon {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  transition: 0.5s all ease-in;
  border-bottom: 1px solid transparent;
}

.footer-icon svg {
  margin-right: 10px;
  transition: 0.5s all ease-in;


}

.footer-icon a:hover svg {
  transform: scale(1.1);
}

.footer-icon a {

  display: flex;
  color: white;
  margin-top: 10px;

}

.footer-icon a span {
  font-size: 16px;
  transition: 0.5s all ease-in;
  border-bottom: 1px solid transparent;
}

.footer-icon a:hover span {

  color: #F08526;
  border-bottom: 1px solid #F08526;
}


.contact-icon {

  width: 15px;
  height: 15px;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: space-between;
}

.footer-col {
  flex: 1 1 180px;
}



.footer-col>p {
  font-size: 24px;
  font-weight: bold;
  font-family: var(--judson);
  margin-bottom: 12px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s all ease-in;
  border-bottom: 1px solid transparent;

}

.footer-col ul {

  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  font-size: 18px;
  color: #ddd;
  border-bottom: 1px solid transparent;
  transition: 0.5s all ease-in;
}

.footer-col ul li a:hover {
  color: #F08526;
  border-bottom: 1px solid #F08526;

}



.footer-brand .footer-logo {
  width: 120px;
  height: 120px;
  margin-bottom: 12px;
  object-fit: contain;
}

.footer-brand .contact {
  margin-bottom: 6px;
  color: #ddd;
}

.footer-brand .footer-social,
.footer-brand .footer-app {
  margin-top: 10px;

}

.footer-brand .footer-social span,
.footer-brand .footer-app span {
  font-size: 18px;
  margin-right: 8px;
  color: #ccc;
}

.footer-social .social-icon {
  transition: .5s all ease-in;
}

.footer-social .social-icon:hover {
  transform: scale(1.1);
}

.social-icon {
  margin-right: 8px;
  color: #fff;
  font-weight: bold;
}


.footer-bottom {
  border-top: 1px solid #2943a1;
  margin-top: 30px;
  padding-top: 14px;
  font-size: 13px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  align-items: center;
  color: #ccc;
}

.footer-bottom a {
  font-size: 18px;
  color: #ccc;
  text-decoration: none;
  margin-right: 14px;
  transition: 0.5s all ease-in;
  border-bottom: 1px solid transparent;
}

.footer-bottom a:hover {
  color: #F08526;
  border-bottom: 1px solid #F08526;
}

.lower-footer {
  text-align: center;
  margin-top: 10px;
}

.lower-footer a {
  font-size: 18px;
  color: #aaa;
  transition: 0.5s all ease-in;
  border-bottom: 1px solid transparent;
}

.lower-footer a:hover {
  color: #F08526;
  border-bottom: 1px solid #F08526;
}



/* ==== FOOTER END ==== */






/* RESPONSIVE */
@media (max-width: 480px) {
  .job-box {
    padding: 16px;
  }

  .activity h3,
  .client h3 {
    font-size: 18px;
  }

  .activity p,
  .client p {
    font-size: 16px;
  }
}



/* =========================================
   RESPONSIVE DESIGN (Media Queries)
   ========================================= */




/* tobbar start */
@media screen and (max-width: 1440px) {
  .navlist {
    gap: 18px;
  }

  .navbar-action-btns {
    gap: 16px;
  }

  .btn {
    padding: 13px 30px;
  }
}

/* Large devices (laptops) */
@media (max-width: 1200px) {
  nav {
    gap: 10px;
  }

  .btn {
    padding: 8px 14px;
  }
}

/* Medium devices (tablets landscape) */
@media screen and (max-width: 1024px) {
  .topbar {
    padding: 18px 0;
  }

  .topbar-info {
    gap: 12px;
  }

  .topbar-social {
    gap: 6px;
  }

  .topbar-info-link {
    font-size: 12px;
  }

  .topbar-info-link figure,
  .topbar-social-link figure {
    max-width: 12px;
  }

  .navbar {
    padding: 16px 0;
  }

  nav {
    padding: 8px 10px;
    position: relative;
  }

  .navbar-brand {
    max-width: 70px;
  }

  .navlink {
    color: #ffe8d2;
  }

  .navlink svg path {
    stroke: #ffe8d2;
  }

  .navbar-menu {
    /* display: none; */
    position: absolute;
    top: 110%;

    transform: translateX(-50%);
    /* Frost / base */
    background: rgba(11, 18, 90, 1);
    backdrop-filter: blur(16px) saturate(140%);
    -webkit-backdrop-filter: blur(16px) saturate(140%);
    /* Depth */
    border: 1px solid rgba(255, 255, 255, 0.14);
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 0;
    border-radius: 50px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.3s ease;
    z-index: 999;
  }

  .navbar-menu.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0);
    z-index: 999;
  }

  .navlist {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .navbar-action-btns {
    gap: 12px;
  }

  .btn {
    padding: 8px 14px;
    font-size: 16px;
  }

  .menu-btn {
    font-size: 35px;
    display: block;
    /* color: #ede1f3; */
  }


  /* sign in dropdown */

  .dropdown-menu {
    top: 75px;
    right: 130px;

  }

  .dropdown-menu li a {
    padding: 10px 12px;
    font-size: 16px;
  }
}

/* Tablets */
@media (max-width: 992px) {}

/* Small tablets / large phones */
@media screen and (max-width: 768px) {
  .topbar-wrapper {
    justify-content: center;
  }

  .topbar-rgt {
    display: none;
  }



}

/* Mobile devices */
@media (max-width: 576px) {
  nav {
    padding: 4px 8px 4px 4px;
  }

  .navbar-brand {
    max-width: 55px;
  }

  .btn {
    padding: 8px 12px;
    font-size: 12px;
  }

  .menu-btn {
    font-size: 30px;
  }

  .navlink {
    font-size: 12px;
  }

  .navbar-menu {
    border-radius: 30px;
  }

  /* sign in dropdown */

  .dropdown-menu {
    top: 60px;
    right: 100px;

  }

  .dropdown-menu li a {
    font-size: 14px;
  }
}

/* Small mobile devices */
@media (max-width: 480px) {
  .topbar {
    display: none;
  }

  .navbar-action-btns {
    gap: 8px;
  }
}

/* Extra small devices */
@media (max-width: 375px) {

  /* sign in dropdown */
  .dropdown-menu {
    top: 60px;
    right: 110px;
  }

  .dropdown-menu li a {
    font-size: 10px;
  }
}

/* Very small phones */
@media (max-width: 320px) {}



/* topbar end */