@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: "Poppins", sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');


/*   font-family: "Judson", serif; */



.b {
    border: 2px solid red;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

:root {
    --orange: #F08526;
    --dark_blue: #0B125A;
    --white: #FFFFFF;
    --purple: #EDE1F3;
}

html,
body {
    font-family: "Poppins", sans-serif;

    overflow-x: hidden;


}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    max-width: 1820px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.container2 {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}



.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
    align-items: stretch;

}

.col {
    padding: 0 15px;
    display: flex;
}

.col-50 {
    width: 50%;
}

.col-33 {
    width: 33.33%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-20 {
    width: 20%;
}

/* SECTION-PADDING */
.section-padding {
    padding: 50px 0;
}

/* topbar */
.topbar {
    background-color: var(--dark_blue);
    padding: 26px 0;
    font-size: 16px;

}

.top_logos {
    display: flex;
    justify-content: space-between;

}

.contact-info,
.social-icons {
    display: flex;
    justify-content: space-between;
    gap: 30PX;


}

.contact-info li a {
    color: rgba(255, 255, 255, .60);
    border-bottom: 2px solid transparent;
}

.contact-info li a:hover {
    border-color: #EDE1F3;
    transition: 0.5s all ease-out;
    width: fit-content;
}



/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    position: absolute;
    width: 100%;
    z-index: 100;

    font-size: 18px;
    border-radius: 50px;
    color: #0B125A;
}

nav,
.navbar_brand,
.navlist,
.nav_items {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav {
    /* background-color: red; */
    background: rgba(0, 0, 0, 0.8);
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 9px 20px;

}

.nav_toggle {
    font-size: 30px;
    display: none;

}

.navlist {
    gap: 30px;
}

.navlist li a {
    color: #0B125A;



}

.navlist li a:hover {
    color: #EDE1F3;
    border-bottom: 2px solid white;
    transition: 0.5s all ease-out;
    width: fit-content;
}

.dropdown {
    position: relative;
}

.dropdown_content {
    position: absolute;
    display: none;
    background-color: blue;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 30px;
    z-index: 100;
}

.dropdown_content li a {
    color: #EDE1F3;


}


.dropdown:hover .dropdown-content {
    display: block;

}

.auth-buttons {
    display: flex;
    gap: 20px;
    font-size: 18px;
    border: 2px solid transparent;

}


.btn-light {
    background-color: #EDE1F3;
    padding: 16px 32px;
    border-radius: 20px;
    transition: 0.5s all ease-out;
    border: 2px solid transparent;
    border-radius: 50px;


}

.btn-light:hover {
    border: 2px solid blue;

}

.btn-primary {
    background-color: var(--dark_blue);
    padding: 16px 32px;
    border-radius: 20px;
    color: #EDE1F3;
    transition: 0.5s all ease-out;
    border-radius: 50px;
    border: 2px solid transparent;

}

.btn-primary:hover {
    border: 2px solid white;

}


/* BANNER */


.banner {
    position: relative;
    min-height: 800px;
    background: linear-gradient(to right, rgba(250, 106, 10, 0.3) 33%, rgba(255, 255, 255, 0.2) 100%), url('../asset/HOME_PAGE/banner/hero.png') center / cover no-repeat;
    padding: 150px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner .container {
    height: 100%;
}

.banner_content {
    display: flex;


}

.banner_content h1 {
    max-width: 670px;
    width: 100%;
    font-size: 64px;
    font-weight: 700;
    font-family: "Judson", serif;
    color: var(--white);

}

/* ==== OFFER ==== */

.offer {
    background-color: var(--purple);
    padding: 30px;
}

.get {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 80px; */
    background-color: var(--dark_blue);
    padding: 30px 100px;
    color: var(--white);
    border-radius: 30px;
}

.get h2 {
    font-size: 36px;
    font-family: "Judson", serif;

}

.get_offer {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-decoration: underline;
    color: var(--orange);
    text-align: center;
}

.get_offer:hover {
    color: var(--white);
    transition: 0.3s all ease-out;

}


.project_content {
    text-align: center;

    margin: 85px 0 15px 0;
}

.project_content h3 {
    font-family: "Judson", serif;
    font-size: 48px;
}

.highlight {
    color: var(--orange);
}




/* ==== CARD ==== */



.card {
    padding: 22px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 3px -3px 8px 0 rgba(0, 0, 0, 0.2), -3px 3px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 15px 0;

}

.icon_img {
    width: 30px;
    height: 30px;
    margin-bottom: 30px;

}

.card_text {
    font-size: 24px;
    max-width: 190px;
    width: 100%;
    text-transform: uppercase;


}


.dtles {
    text-align: right;
    margin-top: 30px;
}

.dtles a {
    font-size: 18px;
    border-bottom: 1px solid #0B125A;
    color: #0B125A;
    transition: 0.3s all ease-in;
}

.dtles a:hover {
    color: #F08526;
    border-bottom: 1px solid #F08526;
}



/* ==== DISCOVER==== */

.discover {

    background: #F08526 url('../asset/HOME_PAGE/freeliance_project_bg/freeliance_project.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;

}

.discover_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.discover_content .discover_text {
    text-align: center;
    font-size: 36px;
    font-family: "Judson", serif;
    color: var(--white);
    margin-bottom: 30px;


}

.discover_content .discover_text .change {
    color: black;
}

.Oppotunities {
    padding: 16px 30px;
    border: 2px solid white;
    border-radius: 30px;
    color: var(--white);
    transition: 0.3s all ease-in;
}

.Oppotunities:hover {
    background-color: white;
    color: #F08526;
    border: 2px solid #F08526;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);

}

/* ====GLOBE==== */

.globe_text {
    font-size: 48px;
    font-family: "Judson", serif;
    margin-bottom: 30px;
    text-align: center;

}

h5 {
    font-size: 24px;
    margin-bottom: 5px;

}

.post {
    max-width: 645px;
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.4);
}

.skilled {
    margin-top: 30px;
    text-align: right;


}

.skilled h6 {
    font-size: 36px;
    font-family: "Judson", serif;
    color: #0B125A;
}

.skilled a {
    margin-top: 10px;
    font-size: 18px;
    border-bottom: 1px solid #0B125A;
    color: #0B125A;
    transition: 0.3s all ease-in;

}

.skilled a:hover {
    border-bottom: 1px solid #F08526;
    color: #F08526;
}


/*  ==== COMPARE ====  */

.compare {
    background-color: #EDE1F3;
}

.compare-content {
    padding: 50px 0;
    max-width: 540px;
    width: 100%;
}

.compare-content>h4 {
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #0B125A;
    font-family: "Judson", serif;
    margin-bottom: 25px;

}

.compare-content>p {
    font-size: 18px;
    color: #000000;
    margin-bottom: 117px;
}

.input-container {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.input-field {

    border: none;
    font-size: 16px;
    color: rgba(0, 0, 0, 0, 0.6);
    outline: none;

}

.next-btn {
    background-color: #0d164b;
    color: white;
    border-radius: 30px;
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 400;
    border: 1px solid transparent;
    box-shadow: -5px 4px 10px rgba(0, 0, 0, .15);
    transition: 0.3s all ease-in;
}

.next-btn:hover {
    background-color: white;
    color: #0B125A;
    border: 1px solid #0B125A;
}

/*      =========== FOOTER ==========      */


.footer-section {
    background: #0B125A;
    color: #fff;
    padding: 40px 0;
    font-size: 14px;
}
.footer-app .app-icon img{
    width: 18px;
    height: 18px;


}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
}

.footer-col {
    flex: 1 1 180px;
}

.footer-col p {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #fff;
}


.footer-col ul {
   
    padding: 0;
    margin: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
}

.footer-col ul li a {
    color: #ddd;
   
    transition: 0.2s;
}



.footer-brand .footer-logo {
    width: 120px;
    height: 120px;
    margin-bottom: 12px;
    object-fit: contain;
}

.footer-brand .contact {
    margin-bottom: 6px;
    color: #ddd;
}

.footer-brand .footer-social,
.footer-brand .footer-app {
    margin-top: 10px;
    font-size: 14px;
}

.footer-brand .footer-social span,
.footer-brand .footer-app span {
    margin-right: 8px;
    color: #ccc;
}

.social-icon {
    margin-right: 8px;
    color: #fff;
    font-weight: bold;
}


.footer-bottom {
    border-top: 1px solid #2943a1;
    margin-top: 30px;
    padding-top: 14px;
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;
    color: #ccc;
}

.footer-bottom a {
    color: #ccc;
    text-decoration: none;
    margin-right: 14px;
}

.footer-bottom span {
    margin-left: 14px;
    color: #aaa;
}



/* =========================================
   RESPONSIVE DESIGN (Media Queries)
   ========================================= */



@media screen and (max-width: 1399px) {
    .get {
        padding: 28px 80px;

    }

    .get h2 {
        font-size: 32px;
    }

    .get_offer {
        font-size: 18px;
    }

}

@media screen and (max-width: 1199px) {
    .get {
        padding: 26px 70px;

    }

    .get h2 {
        font-size: 28px;
    }

    .get_offer {
        font-size: 18px;
    }


    .col-md-33 {
        width: 33.33%;
    }

    .card_text {
        font-size: 18px;
    }
}

@media screen and (max-width: 991px) {
    .get {
        padding: 24px 50px;

    }

    .get h2 {
        font-size: 22px;
    }

    .get_offer {
        font-size: 16px;
    }

    .project_content h3 {
        font-size: 44px;
    }

    .col-md-33 {
        width: 33.33%;
    }

    .card {
        padding: 16px;
    }

    .card_text {
        font-size: 16px;

    }

    .discover_content .discover_text {
        text-align: center;
        font-size: 32px;
    }

    .globe_left h5 {
        font-size: 20px;
    }

    .globe_left .post {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .skilled h6 {
        font-size: 30px;
    }

    .skilled a {
        font-size: 16px;
    }


}




@media screen and (max-width: 768px) {
    nav {
        display: none;
    }

    .get {
        padding: 22px 28px;

    }

    .get h2 {
        font-size: 18px;
    }

    .get_offer {
        font-size: 14px;
    }

    .project_content h3 {
        font-size: 40px;
    }

    .col-md-33 {
        width: 33.33%;
    }

    .card_text {
        font-size: 14px;

    }

    .discover_content .discover_text {
        text-align: center;
        font-size: 30px;
    }

    .Oppotunities {
        padding: 14px 26px;
    }

    .globe_text h4 {
        font-size: 40px;
    }

    .globe_left h5 {
        font-size: 16px;
        margin: 0;
    }

    .globe_left .post {
        font-size: 14px;
        margin-bottom: 0px;
    }

    .skilled h6 {
        font-size: 26px;
    }

    .skilled a {
        font-size: 16px;
    }



}

@media screen and (max-width: 576px) {
    nav {
        display: none;
    }

    .get {
        padding: 10px 8px;

    }

    .get h2 {
        font-size: 14px;
    }

    .get_offer {
        font-size: 10px;
    }

    .project_content h3 {
        font-size: 36px;
    }

    .col-sm-50 {
        width: 50%;
    }

    .discover_content .discover_text {
        text-align: center;
        font-size: 28px;
    }

    .Oppotunities {
        padding: 12px 24px;
    }

    .globe_text h4 {
        font-size: 38px;
    }

    .globe_left h5 {
        font-size: 12px;
        margin: 0;
    }

    .globe_left .post {
        font-size: 10px;
        margin-bottom: 0px;
    }

    .skilled h6 {
        font-size: 14px;
    }

    .skilled a {
        font-size: 14px;
    }

}

@media screen and (max-width: 425px) {

    nav {
        display: none;
    }

    .get {
        padding: 10px 10px;

    }

    .get h2 {
        font-size: 12px;
    }

    .get_offer {
        font-size: 10px;
    }

    .project_content h3 {
        font-size: 28px;
    }

    .col-sm-50 {
        width: 50%;
    }

    .discover_content .discover_text {
        text-align: center;
        font-size: 26px;
    }

    .Oppotunities {
        padding: 10px 20px;
    }

    .card_text {
        font-size: 14px;

    }

    .globe_text h4 {
        font-size: 28px;
    }

    .globe_left h5 {
        font-size: 8px;
        margin: 0;
    }

    .globe_left .post {
        font-size: 8px;
        margin-bottom: 0px;
    }

    .skilled h6 {
        font-size: 10px;
    }

    .skilled a {
        font-size: 10px;
    }

}



@media screen and (max-width: 360px) {
     .get {
        padding: 5px 5px;

    }
        .get h2 {
        font-size: 8px;
    }

    .get_offer {
        font-size: 6px;
    }
     .project_content h3 {
        font-size: 20px;
    }
      .col-sm-50 {
        width: 50%;
    }
    .card_text{
        font-size: 10px;
    }
     .dtles a{
        font-size: 14px;
    }
}